body {
    background-color: #444444 !important;
    color: #DDDDDD !important;
    background-image: none !important;
}

a.main_link:link, a.main_link:visited {
    color: #FFFFFF !important;
}

#notification_area > span > a.no_notifications:link, #notification_area > span > a.no_notifications:visited {
    color: #000 !important;
}
#notification_area > a:link, #notification_area > a:visited {
    color: #FFFFFF !important;
}

/*.threadlist_title a span {*/
    /*color: #000000 !important;*/
/*}*/

.threadlist {
    background-color: #888888 !important;
}

.threadtd {
    background-color: #999999 !important;
}
.lastreply {
    background-color: #777777 !important;
}

a:visited {
    color: #888888 !important;
}
a:link {
    color: #EEEEEE !important;
}

#header_jenna, #header_jenna + br + div {
    color: #EEEEEE !important;
}

th {
    color: #FFFFFF !important;
}

.render_information, .render_information div {
    color: #f3f3f3 !important;
}

.otherpage, a.otherpage:link, a.otherpage:visited, .otherpage_inwide, a.otherpage_inwide:link, a.otherpage_inwide:visited {
    background-color: #333333;
}

.currentpage, a.currentpage:link, a.currentpage:visited {
    background-color: #888888 !important;
    color: #ffffff !important;
}


.threadtitle {
    color: #EEEEEE;
}

.threadlist_title a:link {
    color: #EEEEEE !important;
}
.threadlist_title a:visited {
    color: #555555 !important;
}

.thread_startdate {
    color: #FFFFFF !important;
}

.post_table {
    background-color: #777777 !important;
}

.ducker {
    background-color: #666666 !important;
}

.markItUpPreviewFrame {
    padding: inherit !important;
}

#postpreview {
    background-color: #444444 !important;
}

.posttext, .posttime, .post_signature {
    color: #eeeeee !important;
}
.like {
    color: #dddddd !important;
}
td.member, div.userinfo {
    background-color: #555555 !important;
}

.membertitle, .joined_location, .moreinfo {
    color: #ffffff !important;
}


.bbcode_quote_body {
    background-color: #999999 !important;
}

#followed_ui {
    color: #FFFFFF !important;
}

/* Disable the sidebar 'go to top' navigation */
div.goup {
    display: none;
}

/* search */
.resultdiv {
    background-color: #BDBDBD !important;
    background-image: none !important;
}

.AMASS_searchresult_tp a:link, .AMASS_searchresult_tp a:visited {
    color: #000 !important;

}
.AMASS_searchresult_b, .AMASS_searchresult_b a:link, .AMASS_searchresult_b a:visited, .AMASS_searchresult_b+a:link, .AMASS_searchresult_b+a:visited {
    color: #333 !important;
}

#searchfilters a:link, #searchfilters a:visited, .search_info a:link, .search_info a:visited {
    color: #000000 !important;
}

.AMASS_new_and_unseen, .AMASS_unseenlists {
    background-color: #888 !important;
}
.AMASS_new_and_unseen table tbody tr td div, .AMASS_new_and_unseen table+div {
    color: #DDDDDD !important;
}

.post_container.selected {
    background-color: limegreen !important;
}

.threadrow.selected .threadtd {
    background-color: limegreen !important;
}