body.dark {
    background-color: #444444 !important;
    color: #DDDDDD !important;
    background-image: none !important;
}

body.dark * a.main_link:link,
body.dark * a.main_link:visited {
    color: #FFFFFF !important;
}

body.dark > #notification_area > span > a.no_notifications:link,
body.dark > #notification_area > span > a.no_notifications:visited,
body.dark * a.AMASS_notification_status.no_notifications:link,
body.dark * a.AMASS_notification_status.no_notifications:visited
{
    color: #000 !important;
}

body.dark > #notification_area > a:link,
body.dark > #notification_area > a:visited {
    color: #FFFFFF !important;
}

/*.threadlist_title a span {*/
    /*color: #000000 !important;*/
/*}*/

body.dark * .threadlist {
    background-color: #888888 !important;
}

body.dark * .threadtd {
    background-color: #999999 !important;
}
body.dark * .lastreply {
    background-color: #777777 !important;
}

body.dark * a:visited {
    color: #888888 !important;
}
body.dark * a:link {
    color: #EEEEEE !important;
}

body.dark > .AMASS_css_header_large {
    color: #FFFFFF !important;
}

body.dark * h2,
body.dark * h2 + br + div,
body.dark * #header_jenna,
body.dark * #header_jenna + br + div
{
    color: #EEEEEE !important;
}

body.dark * th {
    color: #FFFFFF !important;
}

body.dark > .render_information,
body.dark * .render_information,
body.dark > .render_information div,
body.dark * .render_information div
{
    color: #f3f3f3 !important;
}

body.dark * .otherpage,
body.dark * a.otherpage:link,
body.dark * a.otherpage:visited,
body.dark * .otherpage_inwide,
body.dark * a.otherpage_inwide:link,
body.dark * a.otherpage_inwide:visited {
    background-color: #333333;
}

body.dark * .currentpage,
body.dark * a.currentpage:link,
body.dark * a.currentpage:visited {
    background-color: #888888 !important;
    color: #ffffff !important;
}


body.dark > .threadtitle {
    color: #EEEEEE;
}

body.dark * .thread_command_color {
    color: #6891CC !important;
}

body.dark * .threadlist_title a:link {
    color: #EEEEEE !important;
}
body.dark * .threadlist_title a:visited {
    color: #555555 !important;
}

body.dark * .inforumcount {
    color: #666666 !important;
}
body.dark * .forumdescription {
    color: #333333 !important;
}

body.dark * .thread_startdate {
    color: #FFFFFF !important;
}

body.dark * .post_table {
    background-color: #777777 !important;
}

body.dark * .ducker {
    background-color: #666666 !important;
}

body.dark * .markItUpPreviewFrame {
    padding: inherit !important;
}

body.dark * #postpreview {
    background-color: #444444 !important;
}

body.dark * .posttext,
body.dark * .posttime,
body.dark * .post_signature {
    color: #eeeeee !important;
}
body.dark > .like {
    color: #dddddd !important;
}
body.dark * td.member,
body.dark * div.userinfo {
    background-color: #555555 !important;
}

body.dark * .membertitle,
body.dark * .joined_location,
body.dark * .moreinfo {
    color: #ffffff !important;
}


body.dark * .bbcode_quote_body {
    background-color: #999999 !important;
}

body.dark * #followed_ui {
    color: #FFFFFF !important;
}

/* Disable the sidebar 'go to top' navigation */
body.dark > div.goup {
    display: none;
}

/* search */
body.dark * .resultdiv {
    background-color: #BDBDBD !important;
    background-image: none !important;
}

body.dark * .AMASS_searchresult_tp a:link,
body.dark * .AMASS_searchresult_tp a:visited {
    color: #000 !important;

}
body.dark * .AMASS_searchresult_b,
body.dark * .AMASS_searchresult_b a:link,
body.dark * .AMASS_searchresult_b a:visited,
body.dark * .AMASS_searchresult_b+a:link,
body.dark * .AMASS_searchresult_b+a:visited {
    color: #333 !important;
}

body.dark * #searchfilters a:link,
body.dark * #searchfilters a:visited,
body.dark * .search_info a:link,
body.dark * .search_info a:visited {
    color: #000000 !important;
}

body.dark * .AMASS_new_and_unseen,
body.dark * .AMASS_unseenlists {
    background-color: #888 !important;
}
body.dark * .AMASS_new_and_unseen table tbody tr td div,
body.dark * .AMASS_new_and_unseen table+div {
    color: #DDDDDD !important;
}

body.dark > .post_container.selected {
    background-color: limegreen !important;
}

body.dark * .threadrow.selected .threadtd {
    background-color: limegreen !important;
}

